# Build artifacts
.next/
out/
build/
.vercel
.output

# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment keys
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore
